# ____REMOVE THIS LINE AFTER RENAMING sample.config.env to config.env ____
SESSION_ID=
MONGO_URI=
OWNER_NUMER=
THUMB_IMAGE = "https://telegra.ph/file/a674ac6df55d0eb0f35a9.jpg"
port = 5000
email = "rsstatus004@gmail.com"
AUTO_BIO=false
global_url = "https://www.instagram.com/_________rahul004_________?igsh=MTYyNWVmejAwejN1aA=="
OWNER_NAME = "Rahul Debnath"
AUTO_REACTION = false
FAKE_COUNTRY_CODE = 212
READ_MESSAGE = false
PREFIX = .
WARN_COUNT = 3
DISABLE_PM = false
ANTI_BAD_WORD = "fuck"
LEVEL_UP_MESSAGE= true
WELCOME_MESSAGE =  "*Hi,* @user \n*Welcome in* @gname \n*Member count* : @count th"
THEME= RAHUL-MD
WORKTYPE = public
PACK_INFO = "rahul;bot-md"
ANTILINK_VALUES = "chat.whatsapp.com"
